.divConteiner{
    padding: 0;
    margin-top: 100px;
    font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.divConteiner div{
    width:200px;
    margin-left:47px;
    border-radius: 5px;
  background: #f5f5f4;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    position: relative;
    background-color: #fff;
    width: 660px;
    height: 460px;
    padding: 20px;
    border-radius: 5px;
    background: #f5f5f4;
    /* Stone/600
  
  Component outline
  */
    //border: 1px solid #57534E;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //height: 100%;
  }
  
  /* Estilos opcionais para o formulário de login */
  .formGroup {
    align-items: center;
    margin-bottom: 12px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
  }
  
  .formGroup input {
    width: 350px;
    height: 30px;
    top: 29px;
    radius: 4px;
    padding: 14px, 12px, 14px, 12px;
    background: #d6d3d1;
    border-radius: 4px;
    border: 1px solid #57534e;
    vertical-align: middle;
  }
  
  .formGroup button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 12px;
    width: 200px;
    height: 48px;
    background: #fbbf24;
    border-radius: 25px;
    border: none;
  }
  
  .btfechar {
    width: 40px;
    height: auto;
    position: absolute;
    top: 0px;
    right: 0px;
  }