.menu {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 47px;
  //gap: 466px;

  position: fixed;
  width: 100%;
  height: 58px;
  left: 0px;
  top: 0px;

  background: #fbbf24;
  border-bottom: 2px solid #57534e;
}

.imagem {
  width: 48px;
  height: auto;
}

.linkConteiner {
  justify-content: flex-end;
}

.linkMenu {
  text-decoration: none;
  padding-left: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.btEntrar {
  margin-left: 40px;
  background: #292524;
  border-radius: 6px;
  width: 71px;
  height: 47px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #f0f9ff;
}

/* Estilos para o pop-up */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: relative;
  background-color: #fff;
  width: 660px;
  height: 460px;
  padding: 20px;
  border-radius: 5px;
  background: #f5f5f4;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagempopup {
  width: 90px;
  height: auto;
  margin-bottom: 0px;
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #292524;
  margin-bottom: 32px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos opcionais para o formulário de login */
.formGroup {
  align-items: center;
  margin-bottom: 12px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input {
  width: 350px;
  height: 30px;
  top: 29px;
  radius: 4px;
  padding: 14px, 12px, 14px, 12px;
  background: #d6d3d1;
  border-radius: 4px;
  border: 1px solid #57534e;
  vertical-align: middle;
}
.conteinerLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 12px;
}
.btLogin{
  display: inline-block;
  padding: 14px 12px;
  width: 150px;
  height: 48px;
  background: #fbbf24;
  border-radius: 25px;
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #292524;
}

.link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.btfechar {
  width: 50px;
  height: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  border: none; /* remover borda */
  background-color: red; /* remover cor de fundo */
  color: #FFFFFF; /* herdar a cor do texto do elemento pai */
  font-family: inherit; /* herdar a família de fontes do elemento pai */
  font-size: inherit; /* herdar o tamanho de fonte do elemento pai */
  padding: 0; /* remover preenchimento interno */
  margin: 0; /* remover margens */
}